<%- include('partials/header') %>

<main>
  <h1><%= title %></h1>

  <ul>
  <% categories.forEach((category, category_id) => { %>
    <li>
      <a href="/category/<%= category_id + 1 %>">
        <%= category.name %>
      </a>
    </li>
  <% }) %>
</ul>
<% if (user && user.role_name === 'admin') { %>
<a href="/new-category" class="btn">➕ Create New Category</a>
<% } %>

</main>

<%- include('partials/footer') %>