<%- include('partials/header') %>

<main>
  <h1><%= title %></h1>

  <ul>
    <li><a href="/category/1"><%= categories[0].name %></a></li>
    <li><a href="/category/2"><%= categories[1].name %></a></li>
    <li><a href="/category/3"><%= categories[2].name %></a></li>
  </ul>
</main>

<%- include('partials/footer') %>