<%- include('partials/header') %>

<main>
  <h1><%= title %></h1>
  <h2>Upcoming Service Projects</h2>

  <ul>
    <% projects.forEach(project => { %>
      <li>
        <!-- Project link -->
        <a href="/project/<%= project.project_id %>">
          <h3><%= project.title %></h3>
        </a>

        <!-- Organization link -->
        <p>
          Organization:
          <a href="/organization/<%= project.organization_id %>">
            <%= project.organization_name %>
          </a>
        </p>

        <p>Date: <%= project.date %></p>
      </li>
    <% }) %>
  </ul>

  <% if (user && user.role_name === 'admin') { %>
    <a href="/new-project">Add a New Service Project</a>
<% } %>
  
</main>

<%- include('partials/footer') %>